/*Desktop Media Query
@media indexPage and (min-width:50em){
	
	
}*/

section#banner{ /* Top Banner */
	margin: 0px auto;
	height:4em;
	background: -webkit-linear-gradient(#ad9a6d,#2d2d2d);
	background: -o-linear-gradient(#ad9a6d,#2d2d2d); 
	background: -moz-linear-gradient(#ad9a6d,#2d2d2d);
	background: linear-gradient(#ad9a6d,#2d2d2d); 
	width:100%;
	position:fixed;
	z-index:3;
}
a#banner{
	color:#e8e8e8;
	text-decoration:none;
}
header{
	font-family:"Source Sans Pro",sans-serif;
	font-weight:bold;
	text-align:center;
	font-size:3em;	
}
section#anchor{
	font-family:"Source Sans Pro",sans-serif;
	opacity:0.85;
	background-color:#141414;
	width:100%;
	position:fixed;
	top:4em;
	z-index:3;
	
}

section#Introduction{
	 background-color:#665a40;
}
section#ClipEditor{
	background-color:#8a7b57;
}
section#MotionEditor{
	background-color:#b7a374;
}
section#GraphEditor{
	background-color:#ccb681;
}

img, video{
	max-width:45%;
	float:right;
	right:8em;
	position:relative;
	height:auto;
	z-index:1;
	
}
img.introcat{
	top:8em;
	
}
img.clipfire{
	top:12em;
}

img.motiondog{
	top:16em;
}
video{
	bottom:48em;
	height:auto;
}
h1.introText, h1.ClipText, h1.MotionText, h1.GraphText{
	font-family:"Source Sans Pro",sans-serif;
	color:white;
	font-size:3em;
	padding-left:1em;
	padding-top:10em;
	padding-bottom:1em;
	z-index:2;
	
}
p.introText, p.ClipText, p.MotionText, p.GraphText{
	font-family:"Source Sans Pro",sans-serif;
	color:white;
	font-size:2em;
	width:68%;
	padding-left:1.5em;
	padding-bottom:6em;
	z-index:2;
}


a.anchorPoints{
	font-family:"Source Sans Pro",sans-serif;
	font-size:1em;
	text-decoration:none;
	color:#e8e8e8;
	float:right;
}